In [3]:
bicycle_1 = "trek"
bicycle_2 = "cannondale"
bicycle_3 = "redline"
bicycle_4 = "specialized"
bicycle_5 = "mountain"

In [4]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
#  index      0,        1,           2,           3
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [5]:
print(bicycle_1)

trek

In [12]:
print(bicycles[0])

trek

In [13]:
print(bicycles[4])

IndexError: list index out of range

In [14]:
print(bicycles[-1])

specialized

In [20]:
print(f"My first bike was a {bicycles[1].title()} ")

My first bike was a Cannondale

# Working with strings

In [19]:
print("hello world!".title())
print("hello world!".upper())
print("hEllO WOrlD!".lower())

Hello World!
HELLO WORLD!
hello world!

In [51]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [25]:
motorcycles[0] = 'ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

In [26]:
motorcycles.append('ktm')
print(motorcycles)

['ducati', 'yamaha', 'suzuki', 'ktm']

In [43]:
empty_list = []
print(empty_list)

empty_list.append('elemnt 1')
print(empty_list)

[]
['elemnt 1']

In [52]:
motorcycles.insert(0, 'Harley-Davidson')

print(motorcycles)

['Harley-Davidson', 'honda', 'yamaha', 'suzuki']

In [47]:
del motorcycles[0]
print(motorcycles)

['suzuki', 'ktm']

In [48]:
print(motorcycles.pop())

ktm

In [49]:
motorcycles

['suzuki']

In [53]:
motorcycles.remove('honda')

In [54]:
motorcycles

['Harley-Davidson', 'yamaha', 'suzuki']

In [158]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

In [58]:
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [65]:
cars.reverse()
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [66]:
print(len(cars))

4

In [67]:
sample_str = "My name is  John, I'm from Idaho"
print(sample_str)

My name is  John, I'm from Idaho

In [69]:
print(len(sample_str))

32

In [71]:
print(sample_str[1])

y

In [76]:
print(sample_str[0:16:2]) # [0 , 5)

M aei Jh

In [78]:
print(cars[0:3:1])

['toyota', 'subaru', 'bmw']

In [81]:
modified_cars = cars[0::2]
print(modified_cars)

['toyota', 'bmw']

# Loop

In [89]:
magicians = ['alice', 'david', 'carolina' , 'james']
            #   0       1       2
print(magicians)

print(magicians[0].title())
print(magicians[1].title())
print(magicians[2].title())

['alice', 'david', 'carolina', 'james']
Alice
David
Carolina

In [101]:
for magician in magicians:
    print(magician.title())

Alice
David
Carolina
James

In [103]:
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

James, that was a great trick!
I can't wait to see your next trick, James.

In [113]:
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
    
print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

James, that was a great trick!
I can't wait to see your next trick, James.

Thank you, everyone. That was a great magic show!

In [109]:
for magician in magicians:
    pass

In [116]:
    print("Done")

In [119]:
numbers = [1,2,3,4,5,6]
print(type(numbers))

<class 'list'>

In [120]:
print(type(numbers[0]))

<class 'int'>

In [129]:
print(range(1,7))

range(1, 7)

In [134]:
list(range(1,7))

[1, 2, 3, 4, 5, 6]

In [140]:
numbers[6:1:-1]

[6, 5, 4, 3]

In [145]:
for value in list(range(0,5))[0:3]: # list -> [0,1,2,3,4] [0:3] -> [0,1,2]
    print(value)

0
1
2

In [147]:
len(range(1,5))

4

In [149]:
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [151]:
squares = []
for value in range(1, 11):
    squares.append(value ** 2)
print (squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [152]:
min(squares)

1

In [177]:
max(squares)

100

In [159]:
sum(squares)

385

# Working with Part of a List