## tuples

In [6]:
list_1 = [1,2,3]
tuples_1 = (1,2,3,4,5)

In [7]:
list_1[1] = 30

In [8]:
list_1

[1, 30, 3]

In [11]:
tuples_1[1] = 320

TypeError: 'tuple' object does not support item assignment

In [12]:
for item in tuples_1:
    print(item)

1
2
3
4
5

## if statement

In [19]:
cars = ['toyaudi',  'bmw', 'subaru', 'ota']

for car in cars:
    if car == 'bmw':    # True or False
        print(car.upper()) # if True, print the car in upper cas
    else:
        print(car.title()) # if False, print the car in title case

Audi
BMW
Subaru
Toyota

In [20]:
for car in cars:
    if car != 'bmw':
        print(car.title())
    else:
        print(car.upper())

Audi
BMW
Subaru
Toyota

In [22]:
list_of_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in list_of_numbers:
    if number >=  5:
        print(number)

5
6
7
8
9
10

In [25]:
# Input 
car_name = input("What is your car name? ")

print("Your car name is " + car_name)

Your car name is 206

In [31]:
car_name = input("What is your car name? ")

if car_name == "BMW" or car_name == "bmw":
    print("You have a nice car!")
else:
    print("You don't have a nice car!")

You don't have a nice car!

In [33]:
car_name = input("What is your car name? ")
print(car_name)

if car_name.lower() == "bmw": 
    print("You have a nice car!")
else:
    print("You don't have a nice car!")

BMw
You have a nice car!

In [36]:
list_of_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,  11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

for number in list_of_numbers:
    if number % 2 == 0 and number % 3 == 0:
        print(number)

6
12
18

In [ ]:
divisable_by_2 = []
divisable_by_3 = []

for number in list_of_numbers:
    if number % 2 == 0:
        divisable_by_2.append(number)
    else:
        if number % 3 == 0:
            divisable_by_3.append(number)

In [ ]:
divisable_by_2 = []
divisable_by_3 = []

for number in list_of_numbers:
    if number % 2 == 0:
        divisable_by_2.append(number)
    elif number % 3 == 0:
        divisable_by_3.append(number)
    else:
        print("continue..")

In [38]:
age = 23

if age >= 18:
    print('your age is', age)
    print('adult')
    
elif age >= 13:
    print('your age is', age)
    print('teenager')
    
else:
    print('your age is', age)
    print('kid')

your age is 23
adult

In [42]:
if age >= 18:
    print('your age is', age)
    print('adult')
    
if age >= 13:
    print('your age is', age)
    print('teenager')
    
if age >= 6:
    print('your age is', age)
    print('kid')

your age is 14
teenager

In [47]:
user_age = int(input("Enter your age: "))

if user_age >= 12:
    print("You are older than 12")

You are older than 12

In [59]:
long_list_of_city_names = [
    "New York",
    "Los Angeles",
    "Chicago",
    "Houston",
    "Phoenix",
    "Philadelphia",
    "San Antonio",
    "San Antonio",
    "San Diego",
    "Dallas",
    "San Jose",
    "Tehran",
    "Karaj"
]

if "Tehran" in long_list_of_city_names:
    print("Tehran is in the list")
else:
    print("Tehran is not in the list")

Tehran is in the list

In [56]:
if "Toronto" not in long_list_of_city_names:
    print("Toronto is not in the list")

Toronto is not in the list

In [57]:
if "a" in "abcdefghijklmnopqrstuvwxyz":
    print("a is in the string")

a is in the string

In [60]:
for city_name in long_list_of_city_names:
    if city_name == "Tehran" or  city_name == "Karaj":
        print(city_name.lower())

tehran
karaj

In [61]:
if "Tehran" in long_list_of_city_names:
    print("tehran")
if "Karaj" in long_list_of_city_names:
    print("karaj")

tehran
karaj

In [62]:
available_toppings = [
    "mushrooms",
    "olives",
    "green peppers",
    "pepperoni",
    "pineapple",
    "extra cheese",
]

requested_toppings = ["mushrooms", "french fries", "extra cheese"]

for requested_topping in requested_toppings:
    
    if requested_topping in available_toppings:
        print(f"Adding {requested_topping}.")
    else:
        print(f"Sorry, we don't have {requested_topping}.")

Adding mushrooms.
Sorry, we don't have french fries.
Adding extra cheese.

Six is greater than two!